ds_city_counts.json
ds_individual_city_counts.json
ds_state_wise_counts.json
ml_city_counts.json
ml_individual_city_counts.json
ml_state_wise_counts.json
wd_city_counts.json
wd_individual_city_counts.json
wd_state_wise_counts.json
data-science-skills_csv.csv
machine-learning-skills_csv.csv
web-dev-skills_csv.csv
new-data-science-skills.csv
new-machine-learning-skills.csv
new-web-dev-skills.csv
new-data-science-skills.json
new-machine-learning-skills.json
new-web-dev-skills.json